body{
  text-align: center;
  background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}
h1{
  color: #396;
  font-weight: 100;
  font-size: 70px;
  margin: 80px 0px 20px;
}
h2{
  font-size: 50px;
  margin-top: 70px !important;
}
h3{
  font-size: 45px;
}
body{
  background-image: url('../img/bg-min.png');
  background-repeat: repeat;
}
.dark {background: #031B28;background-image: url('../img/bg-min.png');background-repeat: repeat;}
.dark h1{color: #E89C31;}
.dark h2{color: #DBA858;}
.dark #play-section h3{color: #DBA858;}
.dark #clockdiv{color: #DBA858;}
.dark #clockdiv div .smalltext{color :#FDFDFD;}
#play-button img, #pause-button img{filter: brightness(0) invert(1);}
.dark #clockdiv > div{ background:#909090;}
.dark #clockdiv div > span{ background:#083248;}
.dark div button {border:none;}
.light {background: #F3F3F3;background-image: url('../img/bg-min.png');background-repeat: repeat;}
.light h1{color: #1B1B1B;}
.light h2{color: #141414;}
.light #play-section h3{color: #1B1B1B;}
.light #clockdiv{color: #F3F3F3;}
.light #clockdiv div .smalltext{color :#1B1B1B;}
.light #clockdiv > div{ background:#E1E1E1;}
.light #clockdiv .time-box{ border:1px solid #020202;}
.light #clockdiv div > span{ background:#1B1B1B;}

.light #play-section #play-button img,.light #vinyl-round #pause-button img{filter: none;}
.light div button {border:none;}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 100px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}
.paused{
  color: #8C0E0F !important;
}

.smalltext{
  padding-top: 5px;
  font-size: 30px;
}
.white{color: #FDFDFD}
.hidden{display: none}
#play-button, #pause-button{
  background-color: none;
  background:none;
  padding: 10px;
  border-right: 2px solid grey;
}
#play-section h3 {color: #FDFDFD}
#vinyl-round img, #pause-button{margin-top: 40px !important;}
.body-green{
  width: 100px;
  height: 100px;
  background-color : #0E6B0E;
  border-radius: 50%;
  border: 3px solid #2B5329 !important;
  position: fixed;
}
.body-dark{
  width: 100px;
  height: 100px;
  background-color : #031B28;
  border-radius: 50%;
  border-color: #FDFDFD !important;
  border: 3px solid #FDFDFD !important;
  position: fixed;
}
.body-light{
  width: 100px;
  height: 100px;
  background-color : #FDFDFD;
  border-radius: 50%;
  border: 3px solid grey !important;
  position: fixed;
}
#change-language{
  width: 100px;
  height: 100px;
  background-color : grey;
  border-radius: 50%;
  border: 3px solid grey !important;
  position: fixed;
  color: white;
  font-size: 30px
}

/*@media only screen and (min-width: 768px) {*/
  .body-green{  
    bottom: 10px;
    right: 10px;
  }
  .body-dark{
    bottom: 10px;
    right: 120px;
  }
  .body-light{
    bottom: 10px;
    right: 230px;
  }
/*}*/
/*@media only screen and (max-width: 430px) {*/
  /* For mobile phones: */
  .body-green{  
    bottom: 200px;
    right: 20px;
  }
  .body-dark{
    bottom: 320px;
    right: 20px;
  }
  .body-light{
    bottom: 440px;
    right: 20px;
  }
  #change-language{
    bottom: 80px;
    right: 20px;
  }
/*}*/
#dance{margin: 0 auto;padding: 0;width: 100%;width: 100%;height: auto;}